<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <div class="card border-0" style="width: 18rem;">
                <div class="d-flex justify-content-center">
                    <img src="./../../assets/Foto perfil_DCE.jpg" class="card-img-top rounded-circle w-100" alt="Foto do usuário">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">Nadir José Rafagnim</h5>
                  <p class="card-text card-text">Desenvolvedor Fullstack.</p>
                  <a href="https://github.com/rafagnim" target="_blank" class="btn btn-outline-dark d-flex justify-content-center">Github</a>
                  <hr class="mt-4 mb-4">
                  <h6 class="mv-3 text-monospace text-center">Pesquisar por nome</h6>
                  <input type="text" class="form-control mb-3 w-100" [(ngModel)]="nome">
                  <button class="btn btn-outline-warning w-100" (click)="pesquisarNome()">Pesquisar</button>
                </div>
              </div>
        </div>
        <div class="col-md-8">
            <h3 class="text-center mb-4 text-monospace">Digite abaixo os seus comentários:</h3>
            <div class="form-group">
                <label for="nome" class="text-monospace">Nome:</label>
                <input type="text" id="nome" name="nome" class="form-control" placeholder="Digite o seu nome" [(ngModel)]="post.nome">
            </div>
            <div class="form-group">
                <label for="mensagem" class="text-monospace">Mensagem:</label>
                <textarea id="mensagem" name="mensagem" class="form-control" cols="30" rows="4" placeholder="Digite a sua mensagem" [(ngModel)]="post.mensagem"></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-outline-info w-25" (click)="cadastrarMensagem()">Publicar</button>
            </div>

            <hr class="mt-5 mb-5">

            <div [hidden]="escondeNome">
                <h3 class="text-center mb-5 text-monospace">Nomes encontrados:</h3>
        
                <div class="container">
                    <div class="card mb-4" *ngFor="let post of listPostsName">
                        <div class="card-header">
                            <h5 class="card-title">{{post.id}}</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{post.nome}}</p>
                            <p class="card-text">{{post.mensagem}}</p>
                        </div>
                    </div>
                </div>
        </div>

            <hr class="mt-5 mb-5">

            <h3 class="text-center mb-5 text-monospace">Comentários adicionados:</h3>
    
            <div class="container">
                <div class="card mb-4" *ngFor="let post of listPosts">
                    <div class="card-header">
                        <h5 class="card-title">{{post.id}}</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{post.nome}}</p>
                        <p class="card-text">{{post.mensagem}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
